<mat-toolbar class="navbarlc" style="position: fixed; width: 100%; top: 0; left: 0; z-index: 2;">
  <div style=" width: 100%; display: flex; align-items: center;">
    <div class="mat-display-flex">
      <div style="margin-top: 1rem;">
        <h1 style="display: flex; align-items: center;">
          <img src="../../../../assets/Images/camaron.png" 
               alt="camaron" 
               style="width: 60px; height: auto; margin-right: 10px; margin-bottom: 10px;" />
          <p class="letraW8 LETRAaUFIT">ROLLITOS DE MAR</p>
        </h1>              
      </div>
    </div>
  </div>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav-content class="app-content">
    <div #mainContainer>
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
